      <div class="column">
      	        <%= image_tag("#{featured_photo.cached_flickr_photo_sizes.first.source}", 
      	        	class: "thumbnail",
      	        	size:  "300x400") %>
      	        <!-- <img src="https://farm3.staticflickr.com/2847/13590772955_d97853612b_s.jpg" alt="myphoto"> -->
      	        <%#= image_tag("https://www.flickr.com/photos/94674772@N03/17899628468/sizes/m/") %>
<!-- http://www.flickr.com/photos/stewart/567229075/sizes/m/ -->
        <!-- <img class="thumbnail" src="http://placehold.it/300x400"> -->
        <h5><%= "#{featured_photo.title} "%></h5>
<!--         <p>$500</p>
        <a href="#" class="button expanded">Buy</a>
 -->      </div>
