<footer>
    <p>&copy; 2016 <a class="link" href="http://www.wdwhub.net">WDW Hub</a></p>


    <p>designed &amp; built by <a class="link" href=
    "http://secondstarlabs.com/">Second Star Labs</a></p>
</footer>
