    <%= link_to((hotel_path(id)), class: "grid-item")  do %>
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
      <h1><%= name %></h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    <% end %>
