<header>
    <h1>phindee</h1>


    <p>there are currently <b>32</b> happy hours in downtown
    portland</p>


    <dl>
        <dt><img alt="Silverware" src=
        "/public_assets/silverware-9d0a4d173d9e135f903fccb2d009de22.svg">
        </dt>


        <dd class="food">(food)</dd>


        <dt><img alt="Glass" src=
        "/public_assets/glass-9b07ca51d32a1325e6e433eae1e1612d.svg">
        </dt>


        <dd>(drinks)</dd>
    </dl>
</header>
