<li>
    <div class="type">
        <img alt="Silverware" src="/public_assets/assets/silverware-9d0a4d173d9e135f903fccb2d009de22.svg">
        <img alt="Glass" src="/public_assets/assets/glass-9b07ca51d32a1325e6e433eae1e1612d.svg">
    </div>
    <div class="info">
        <h2><%= hotel.name %></h2>


        <div class="time-graph">
            <p style="width:7.7777777777777795%">
                
            <span><%= link_to 'Number Alert', hotel_path(hotel.id), remote: true %></span>
            </p>
        </div>
    </div>
    <img alt="Right arrow" src="/public_assets/assets/right-arrow-0d1ba3c494d476ab7d0906cf7e933e26.svg">
</li>
