<li>
    <div class="type">
        <%= image_tag "#{hotel.foursquare_photos.first.prefix}300x300#{hotel.foursquare_photos.first.suffix}", color: "#fff" %>
    </div>
    <div class="info">
        <h2><%= link_to hotel.name, hotel_path(hotel.id), remote: true %></h2>


    </div>
    <%= image_tag "right-arrow.svg" %>
</li>
