<div class="card">
  <div class="card-image">
    <%= image_tag "#{photo_card.prefix}600x600#{photo_card.suffix}" %>
  </div>
  <div class="card-header">
    Photographer Name
  </div>
  <div class="card-copy">
    <p>Month and day taken</p>
  </div>
</div>
