<form class="search-form">
    <img alt="Search icon" class="search-icon" src=
    "/public_assets/search-icon-254d8fcc90f1a01258d1c102c3ea66f5.svg"><span aria-live="polite"
    class="ui-helper-hidden-accessible" role=
    "status"></span><input autocomplete="off" class=
    "search-field ui-autocomplete-input" type="text">

    <ul class=
    "ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all"
    id="ui-id-1" style="display: none;" tabindex="0">
    </ul>
</form>
