<% content_for :javascript do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoid2R3aHViIiwiYSI6IjNjM2U0NDFkZWUwODRjY2VkNTNjZGJmODU4ZWY0MmE2In0.iC5WVjFF5PRuaosilQqbVA';
var map = new mapboxgl.Map({
    container:        'map',
    style:            'mapbox://styles/mapbox/streets-v9',
    center:           [-81.5220, 28.3760],
    zoom:             11.8
});
</script>

<% end %>

<%= render :partial => "search_form" %>

<div class="leaflet-container leaflet-fade-anim" id="map" tabindex="0">
    <!-- map goes here -->
</div>

<%= render :partial => "sidebar" %>
