<p id="notice"><%= notice %></p>

<h1>Listing Hotels</h1>

<div class="grid-items-lines">
    <% @hotels.each do |hotel| %>
    
      <%= render :partial => 'grid_item_lines', locals: {name: hotel.name, permalink: hotel.permalink, id: hotel.id} %>
    <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>

