<% content_for :javascript do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiY2FwdHByb3RvbiIsImEiOiI3cDFLWWRnIn0.guU68dUaxKCX_MPrZHAesQ';
    map = L.mapbox.map('map', 'mapbox.dc-markers', {
        // the options here prevent mouse wheel or trackpad scrolling
        // and restrict the zooms to zoom levels 14 through 18
        scrollWheelZoom: false,
        maxZoom: 14,
        minZoom: 10
    }).setView([28.3849,-81.6044], 13);

    // get JSON object
    // on success, parse it and
    // hand it over to MapBox for mapping
    var featureLayer = L.mapbox.featureLayer()
         .loadURL('hotels.json')
         //wait for the layer to be "on", or "loaded", to use a function that will setIcon with an L.icon object
         .on('ready', function(layer) {
                this.eachLayer(function(marker) {
                    marker.bindPopup('<div class="popup">' +
                        '<h3>' + marker.feature.properties.name + '</h3>' +
                        '</div>');
                    
                });
        })

         .addTo(map);
         
     // # handles a sidebar hotel click
         $('article li').click(function(e) {
           var current, currentlyClickedName;
           current = $(this);
           currentlyClickedName = current.find('h2').text();
           alert(currentlyClickedName)
           // return map.markerLayer.eachLayer(function(layer) {
           //   var id;
           //   if (layer.feature.properties.name === currentlyClickedName) {
           //     id = layer._leaflet_id;
           //     return map._layers[id].openPopup();
           //   }
           // });
         });

</script>

<% end %>

<%= render :partial => "search_form" %>

<div id='map' class='map'> </div>

<%= render :partial => "sidebar" %>
