<% content_for :javascript do %>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2FwdHByb3RvbiIsImEiOiI3cDFLWWRnIn0.guU68dUaxKCX_MPrZHAesQ';
L.mapbox.map('map-two', 'mapbox.dc-markers', {
    // the options here restrict the zooms to zoom levels 14 through 18
    maxZoom: 14,
    minZoom: 10
}).setView([38.8906,-77.01313], 12);
</script>

<% end %>

<%= render :partial => "search_form" %>

<div id='map-two' class='map'> </div>

<%= render :partial => "sidebar" %>
