    <div class="row small-up-1 large-up-2">
    	<% featured_collection = @hotel.cached_flickr_photos.landscape_medium.shuffle.first(4) %>
        <%= render :partial => "/hotels/2017/featured_photo", 
                   :collection => featured_collection if featured_collection.length == 4 %>

    </div>
