<!DOCTYPE html>

<html data-ember-extension="1" lang="en">
<head>
    <title>phindee - happy hours in downtown Portland</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content=
    "Phindee helps you easily find current happy hours in downtown Portland."
    name="description">
    <meta content=
    "width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" name=
    "viewport">
    <link data-turbolinks-track="true" href=
    "/public_assets/hotels.css" media="all"
    rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta content="authenticity_token" name="csrf-param">
    <meta content="eK2kWajTey3Sxt1o2Qat5ahDjodMGGW/hIggUn0d2iE=" name=
    "csrf-token">
</head>

<body>
    <form class="search-form">
        <img alt="Search icon" class="search-icon" src=
        "index_files/search-icon-254d8fcc90f1a01258d1c102c3ea66f5.svg"><span aria-live="polite"
        class="ui-helper-hidden-accessible" role=
        "status"></span><input autocomplete="off" class=
        "search-field ui-autocomplete-input" type="text">

        <ul class=
        "ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all"
        id="ui-id-1" style="display: none;" tabindex="0">
        </ul>
    </form>


    <div class="leaflet-container leaflet-fade-anim" id="map" tabindex="0">
        <div class="leaflet-map-pane" style=
        "transform: translate3d(0px, 0px, 0px);">
            <div class="leaflet-tile-pane">
                <div class="leaflet-layer">
                    <div class="leaflet-tile-container">
                    </div>


                    <div class="leaflet-tile-container">
                    </div>
                </div>


                <div class="leaflet-layer">
                    <div class="leaflet-tile-container">
                    </div>


                    <div class="leaflet-tile-container leaflet-zoom-animated">
                    <img class="leaflet-tile leaflet-tile-loaded" src=
                    "index_files/11719_004.png" style=
                    "height: 256px; width: 256px; transform: translate3d(364px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11719_002.png" style=
                    "height: 256px; width: 256px; transform: translate3d(620px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720_006.png" style=
                    "height: 256px; width: 256px; transform: translate3d(364px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720_005.png" style=
                    "height: 256px; width: 256px; transform: translate3d(620px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718_006.png" style=
                    "height: 256px; width: 256px; transform: translate3d(364px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718_003.png" style=
                    "height: 256px; width: 256px; transform: translate3d(620px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11719_006.png" style=
                    "height: 256px; width: 256px; transform: translate3d(108px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11719.png" style=
                    "height: 256px; width: 256px; transform: translate3d(876px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720_004.png" style=
                    "height: 256px; width: 256px; transform: translate3d(108px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720_003.png" style=
                    "height: 256px; width: 256px; transform: translate3d(876px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721_005.png" style=
                    "height: 256px; width: 256px; transform: translate3d(364px, 546px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721_006.png" style=
                    "height: 256px; width: 256px; transform: translate3d(620px, 546px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718_005.png" style=
                    "height: 256px; width: 256px; transform: translate3d(108px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718.png" style=
                    "height: 256px; width: 256px; transform: translate3d(876px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721_004.png" style=
                    "height: 256px; width: 256px; transform: translate3d(108px, 546px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721.png" style=
                    "height: 256px; width: 256px; transform: translate3d(876px, 546px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11719_003.png" style=
                    "height: 256px; width: 256px; transform: translate3d(-148px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11719_005.png" style=
                    "height: 256px; width: 256px; transform: translate3d(1132px, 34px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720.png" style=
                    "height: 256px; width: 256px; transform: translate3d(-148px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11720_002.png" style=
                    "height: 256px; width: 256px; transform: translate3d(1132px, 290px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718_002.png" style=
                    "height: 256px; width: 256px; transform: translate3d(-148px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11718_004.png" style=
                    "height: 256px; width: 256px; transform: translate3d(1132px, -222px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721_003.png" style=
                    "height: 256px; width: 256px; transform: translate3d(-148px, 546px, 0px);"><img class="leaflet-tile leaflet-tile-loaded"
                    src="index_files/11721_002.png" style=
                    "height: 256px; width: 256px; transform: translate3d(1132px, 546px, 0px);">
                    </div>
                </div>
            </div>


            <div class="leaflet-objects-pane">
                <div class="leaflet-shadow-pane">
                </div>


                <div class="leaflet-overlay-pane">
                </div>


                <div class="leaflet-marker-pane"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(768px, 448px, 0px); z-index: 448;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(663px, 246px, 0px); z-index: 246;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(688px, 173px, 0px); z-index: 173;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(750px, 629px, 0px); z-index: 629;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(631px, 683px, 0px); z-index: 683;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(687px, 280px, 0px); z-index: 280;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(621px, 35px, 0px); z-index: 35;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(885px, 295px, 0px); z-index: 295;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(695px, 443px, 0px); z-index: 443;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(649px, 247px, 0px); z-index: 247;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(673px, 331px, 0px); z-index: 331;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(839px, 339px, 0px); z-index: 339;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(677px, 276px, 0px); z-index: 276;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(803px, 465px, 0px); z-index: 465;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(627px, 251px, 0px); z-index: 251;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(666px, 351px, 0px); z-index: 351;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(867px, 349px, 0px); z-index: 349;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(681px, 531px, 0px); z-index: 531;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(599px, 27px, 0px); z-index: 27;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(658px, 226px, 0px); z-index: 226;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(853px, 217px, 0px); z-index: 217;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(873px, 278px, 0px); z-index: 278;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(743px, 408px, 0px); z-index: 408;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(840px, 414px, 0px); z-index: 414;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(612px, 156px, 0px); z-index: 156;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(825px, 216px, 0px); z-index: 216;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(861px, 437px, 0px); z-index: 437;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(842px, 368px, 0px); z-index: 368;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(871px, 702px, 0px); z-index: 702;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(653px, 131px, 0px); z-index: 131;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(663px, -17px, 0px); z-index: -17;"
                tabindex="0"><img class=
                "leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                src="index_files/pin-m-circle00607d.png" style=
                "margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(832px, 443px, 0px); z-index: 443;"
                tabindex="0">
                </div>


                <div class="leaflet-popup-pane">
                </div>
            </div>
        </div>


        <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left">
            </div>


            <div class="leaflet-top leaflet-right">
                <div class="leaflet-control-grid map-tooltip leaflet-control"
                style="display: none;">
                    <a class="close" href="#" title="close">close</a>

                    <div class="map-tooltip-content">
                    </div>
                </div>
            </div>


            <div class="leaflet-bottom leaflet-left">
            </div>


            <div class="leaflet-bottom leaflet-right">
                <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                    <a class="leaflet-control-zoom-in" href="#" title=
                    "Zoom in">+</a><a class="leaflet-control-zoom-out" href="#"
                    title="Zoom out">-</a>
                </div>


                <div class="map-legends wax-legends leaflet-control" style=
                "display: none;">
                </div>


                <div class=
                "mapbox-control-info mapbox-small mapbox-control-info-right leaflet-control"
                style="display: block;">
                    <div class="map-info-container">
                        <a href="https://www.mapbox.com/about/maps/" target=
                        "_blank">© Mapbox</a> <a href=
                        "http://www.openstreetmap.org/about/" target="_blank">©
                        OpenStreetMap</a> <a class="mapbox-improve-map" href=
                        "https://www.mapbox.com/map-feedback/#/-122.687/45.521/15"
                        target="_blank">Improve this map</a>
                    </div>
                    <a class="mapbox-info-toggle mapbox-icon mapbox-icon-info"
                    href="#"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar">
        <header>
            <h1>phindee</h1>


            <p>there are currently <b>32</b> happy hours in downtown
            portland</p>


            <dl>
                <dt><img alt="Silverware" src=
                "index_files/silverware-9d0a4d173d9e135f903fccb2d009de22.svg">
                </dt>


                <dd class="food">(food)</dd>


                <dt><img alt="Glass" src=
                "index_files/glass-9b07ca51d32a1325e6e433eae1e1612d.svg">
                </dt>


                <dd>(drinks)</dd>
            </dl>
        </header>


        <article>
            <div class="controls">
                <a class="add-new-happy-hour" data-remote="true" href=
                "http://phindee.com/add">add a new one</a><button class=
                "show-user-location">show my location</button>
            </div>


            <ol>
                <li>
                    <div class="type"><img alt="Silverware" src=
                    "index_files/silverware-9d0a4d173d9e135f903fccb2d009de22.svg"><img alt="Glass"
                    src=
                    "index_files/glass-9b07ca51d32a1325e6e433eae1e1612d.svg">
                    </div>


                    <div class="info">
                        <h2>anna's chocolate cafe</h2>


                        <div class="time-graph">
                            <p style="width:7.7777777777777795%">
                            <span>4:00pm</span>
                            </p>
                        </div>
                    </div>
                    <img alt="Right arrow" src=
                    "index_files/right-arrow-0d1ba3c494d476ab7d0906cf7e933e26.svg">
                </li>


                <li>
                    <div class="type"><img alt="Silverware" src=
                    "index_files/silverware-9d0a4d173d9e135f903fccb2d009de22.svg">
                    </div>


                    <div class="info">
                        <h2>baja fresh mexican grill</h2>


                        <div class="time-graph">
                            <p style="width:24.444444444444446%">
                            <span>5:00pm</span>
                            </p>
                        </div>
                    </div>
                    <img alt="Right arrow" src=
                    "index_files/right-arrow-0d1ba3c494d476ab7d0906cf7e933e26.svg">
                </li>


                <li>
                    <div class="type"><img alt="Silverware" src=
                    "index_files/silverware-9d0a4d173d9e135f903fccb2d009de22.svg">
                    </div>


                    <div class="info">
                        <h2>ben and jerry's</h2>


                        <div class="time-graph">
                            <p style="width:41.111111111111114%">
                            <span>6:00pm</span>
                            </p>
                        </div>
                    </div>
                    <img alt="Right arrow" src=
                    "index_files/right-arrow-0d1ba3c494d476ab7d0906cf7e933e26.svg">
                </li>

            </ol>
        </article>


        <footer>
            <p>© 2016 WDW Hub</p>


            <p>designed &amp; built by <a class="link" href=
            "http://secondstarlabs.com/">Second Star Labs</a></p>
        </footer>
    </div>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'>
    </script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>
    <script data-turbolinks-track="true" src=
    "/public_assets/hotels.js">
    </script>

</body>
</html>