<!DOCTYPE html>

<html data-ember-extension="1" lang="en">
<head>
    <%= csrf_meta_tags %>
    <title>phindee - happy hours in downtown Portland</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content=
    "Phindee helps you easily find current happy hours in downtown Portland."
    name="description">
    <meta content=
    "width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" name=
    "viewport">
    <link data-turbolinks-track="true" href=
    "/public_assets/hotels.css" media="all"
    rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    <%= yield %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet' />
    <script data-turbolinks-track="true" src="/public_assets/hotels.js">
    </script>
  <%= render "javascript" %>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoid2R3aHViIiwiYSI6IjNjM2U0NDFkZWUwODRjY2VkNTNjZGJmODU4ZWY0MmE2In0.iC5WVjFF5PRuaosilQqbVA';
  var map = new mapboxgl.Map({
      container:        'map',
      style:            'mapbox://styles/mapbox/streets-v9',
      center:           [-81.5220, 28.3760],
      zoom:             11.8
  });
  </script>
  </body>
</html>